
git+https://github.com/AtrCheema/AI4Water.git@dev

catboost==1.0.4
xgboost
scikit-learn==1.0.2
shap==0.40.0
lime
PyALE
SALib==1.4.5
openpyxl
seaborn

sphinx
sphinx-prompt
sphinx_rtd_theme
sphinx_issues
sphinx-gallery